<% layout("/layouts/boilerplate") %>
<style>
  a {
    text-decoration: none;
  }
  a:hover {
    transform: scale(1.01);
    opacity: 0.9;
  }
</style>
<!-- All branches -->
<div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mb-5">
  <a href="/branches/cse/">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Computer Science and Engineering</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="/branches/ece/">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Electronics and Communication Engineering</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="/branches/ee/">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Electrical Engineering</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="/branches/me/">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Mechanical Engineering</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="/branches/ce/">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Civil Engineering</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="/branches/cm/">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Chemical Engineering</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
</div>
