<% layout("/layouts/boilerplate") %>
<style>
  a {
    text-decoration: none;
  }
  a:hover {
    transform: scale(1.01);
    opacity: 0.9;
  }
</style>
<!-- All branches -->
<div class="row row-cols-1 row-cols-md-4 g-4 mt-1 mb-5">
  <a href="firstSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">First Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="secondSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Second Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="thirdSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Third Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="fourthSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Fourth Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="fifthSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Fifth Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="sixthSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Sixth Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="seventhSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Seventh Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
  <a href="eighthSemester/papers">
    <div class="col">
      <div class="card">
        <img src="/assets/cse1.png" class="card-img card-img-top" alt="cse" />
        <div class="card-body">
          <h5 class="card-title">Eighth Semester(CSE)</h5>
          <!-- <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p> -->
        </div>
      </div>
    </div>
  </a>
</div>
